.gamepage-container {
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
}


.gamepage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main-image {
    max-width: 50vw;
    border-bottom-right-radius: 50px;
    grid-column: 1;

}

.description {
    font-size: medium;
    font-weight: 100;
    max-height: 290px;
    overflow-y: auto;
    background-color: rgb(206, 195, 180);
    padding: 10px;
    border-radius: 10px;
}

.metacritic {
 font-size: medium;
 padding-top: 10px;
}

.title {
    grid-column: 2/5;
    padding: 15px;
}

.release-date {
    /* grid-column: 2/5; */
    font-size: medium;
}