*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.gamepanel-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px; 
    list-style-type: none;
    gap: 1.25rem;

}

.gamepanel {
    width: 325px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    background: rgb(234, 234, 234);
    min-height: 200px;
   
}

.gamepanel > h3 {
    font-size: 28px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.gamepanel > img {
    /* border-radius: 10px; */
    max-width: 100%;
    max-height: 200px;
    /* margin: 10px; */
    
}
