.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: 20px;

}

.nav {
    height: 60px;
    background: rgb(234, 234, 234);
    position: relative;
    border-radius: 20px;
}

.nav-items ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

.nav-items ul li:not(:last-child) {
    margin-right: 60px;
}

.nav-items ul a {
    font-size: 16px;
    color: #2f234f;
    text-decoration: none;
}

.nav-items ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
}

.nav-items ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
}