.Header {
    max-width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    text-align:left;
    align-self: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    
}

.nav {
    justify-content: space-between;
}

.nav-items {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
}

.nav-items>li {
    padding: 10px;
}