@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

body {
  margin-left: 5%;
  margin-right: 5%;
  font-family: -apple-system, BlinkMacSystemFont,'Archivo Narrow', 'sans-serif','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#28282B
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
