* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.gamepanel-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    list-style-type: none;
    gap: 1.25rem;

}

.gamepanel {
    width: 325px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background: rgb(234, 234, 234);
    min-height: 200px;
    transition: all 0.2s ease-in-out;

}



.gamepanel>p {
    margin-bottom: 8px;
    margin-left: 8px;
}

.gamepanel>img {

    max-width: 100%;
    max-height: 200px;


}

.gamepanel:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.474);
}